body {
  font-size: 14px;
  font-family: sans-serif;
  line-height: 1.4;
  color: #333333;
  margin: 0;
}

pre {
  display: block;
  padding: 10px;
  margin: 0;
  font-size: 13px;
  line-height: 1.4;
  /* border: 1px solid #cccccc; */
  background-color: #f5f5f5;
  overflow-x: auto;

  code {
    font-family: monospace;
  }
}

.container {
  padding: 15px;
}

.navbar {
  border: 1px solid #e7e7e7;
  border-width: 0 0 1px;
  background-color: #f8f8f8;
  display: flex;
  align-items: center;

  .brand {
    flex-grow: 1;
    .navbar-brand {
      font-size: 18px;
      margin: 0 15px 0 10px;
    }

    .navbar-text {
    }
  }

  a {
    color: #777777;
    text-decoration: none;
  }

  ul {
    list-style: none;
    margin: 0;
    display: flex;
    align-items: center;

    li {
      display: block;
    }
  }
}

.panel {
  border: 1px solid #dddddd;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

  .panel-heading {
    /* padding: 10px 15px; */
  }

  .panel-body {
  }
}

.panel-success, .panel-success .panel-heading { border-color: #d6e9c6; }
.panel-success .panel-heading { color: #3c763d; background-color: #dff0d8; }
.panel-failure, .panel-failure .panel-heading { border-color: #ebccd1; }
.panel-failure .panel-heading { color: #a94442; background-color: #f2dede; }
.panel-running, .panel-running .panel-heading { border-color: #dddddd; }
.panel-running .panel-heading { color: #333333; background-color: #f5f5f5; }

.app-loading {
  width: 100px;
  height: 1em;
  text-align: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
}

/* EDITOR *************************************************/
#editor {
  #editor-editor {
    border-bottom: 1px solid #dddddd;

    /* なぜが gutter の高さがいっぱいになってくれない */
    .CodeMirror-gutters {
      height: 100% !important;
    }
  }

  #editor-options {
    .button {
      overflow: visible;
      padding: 0 12px;
      height: 32px;
      vertical-align: middle;
      display: inline-block;
      font-size: 14px;
      border-radius: 0;
      outline: 0 !important;
      color: #333333;
      border: 1px solid #cccccc;
      background-color: #ffffff;

      &:hover {
        background-color: #e6e6e6;
        border-color: #adadad;
      }
    }

    .default-button {
      color: #ffffff;
      background-color: #337ab7;
      border-color: #2e6da4;

      &:hover {
        background-color: #286090;
        border-color: #204d74;
      }
    }
  }
}

/* RESULT *************************************************/
.result-items-container {
  margin-top: 20px;

  .result-item {
    margin-top: 0;
    margin-bottom: 15px;

    .panel-heading {
      display: flex;
      padding: 0;
      flex-wrap: nowrap;
      overflow-x: auto;

      .result-compiler-tab-item {
        padding: 10px 15px;
        border-color: inherit;
        border-style: solid;
        border-width: 0 1px 1px 0;
        cursor: pointer;

        &.active {
          border-bottom: 0;
          background-color: #f5f5f5;
        }
      }
    }
  }
}

.result-fd-1 { color: #000000; }
.result-fd-2 { color: #ff0000; }
.result-exit { color: #ffa500; }
.result-info { color: #666666; }
.result-missing-newline { color: #ffffff; background-color: #000000; }
