// Place all the styles related to the results controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.result-item {
    > .panel-body {
        @include clearfix();
        padding: 0;

        .col {
            padding: 15px;
        }

        .table {
            margin: 0;
        }
    }
}
